@page "/"

@inject IArcadePerfectOAuth2Service apOAuthService

<div class="flexi">
	<h1>Hello, world!</h1>

	<p>Welcome to your OAUTH2 Test App.</p>
	<br />
	<button style="background-color: #0e4b77; color: white; padding: 20px;" @onclick="LaunchOAuth">Authenticate</button>

	<h1 class="@(Authenticated?"show":"hide")" style="color: green; padding: 10px;">Authenticated!</h1>
</div>

@code{
	private bool Authenticated { get; set; }
	private async Task LaunchOAuth()
	{

		ArcadePerfectOAuth resp = await apOAuthService.LaunchOAuthFlow();

		Debug.WriteLine($"resp: {JsonSerializer.Serialize(resp)}");

		if (resp.Authorization_Code is not null)
			Authenticated = true;
	}
}